body{
    margin: 0;
    font-family: 'Bree Serif', serif;
    color: #31719c;
    background-image: url(../4.png);
    background-repeat: repeat-x repeat-y;
}

.App{
    display: flex;
    justify-content: center;
}