.trivia-list{
    width: 90%;
    margin-top: 125px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.test{
    width: 90%;
    margin-top: 225px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-box{
    display: flex;
    width: 100%;
    justify-content: center;
}
.big-logo{
    height: 200px;
    margin: 30px 0px;
}

/* SEARCH BAR */
.trivia-heading{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}
.trivia-search{
    display: flex;
    width: 50%;
    height: 40px;
}
.final-heading{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    margin-bottom: 50px;
}
.final-search{
    display: flex;
    width: 50%;
    height: 40px;
}
.search-select{
    font-family: inherit;
    font-size: 15px;
    background-color: #58c8fc;
    color: #ffff;
    padding-left: 10px;
    outline: none;
    border: 1px solid #204c73;
    border-radius: 10px 0px 0px 10px;
}
.search-input{
    font-size: 15px;
    font-family: inherit;
    width: 100%;
    padding-left: 10px;
    /* color: #4599c5; */
    color: #58c8fc;
    outline: none;
    border: 1px solid #204c73;
    border-radius: 0px 10px 10px 0px;
}
.search-input::placeholder{
    color: #58c8fc;
}

/* ADD BUTTONS */
.add-questions{
    font-family: inherit;
    font-size: 15px;
    background-color: #58c8fc;
    color: #ffff;
    padding-left: 10px;
    border: 1px solid #204c73;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}
.add-questions:hover{
    opacity: 0.6;
}
.add-questions:active{
    transform: translate(-1px, 2px);
}

/* THE FORM */
.add-mode{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-box{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid #204c73;
    padding: 15px 0px;
    box-shadow: 0px 0px 20px 2px rgba(88, 200, 252, 0.5);
}
.form-heading{
    color: #204c73;
    font-size: 20px;
}

/* THE CARDS */
.letter-heading{
    font-size: 50px;
    width: 100%;
    border-bottom: 4px solid #204c73;
    margin: 30px 0px;
}
.trivia-card-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.trivia-card{
    width: 90%;
    border: 2px solid #204c73;
    border-radius: 2px;
    margin: 20px 0px;
    padding: 10px 20px;
}
.trivia-card:hover{
    box-shadow: 5px 5px 10px 0px rgba(69, 153, 197, 0.5);
}
.trivia-card-round{
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}
.trivia-card-title{
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
    justify-content: flex-start;
    align-content: flex-start;
    flex-direction: column;
}
.info{
    font-size: 12px;
    padding-left: 10px;
    font-weight: normal;
    margin: 0;
}
.edit-and-delete-buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.delete-button{
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 18px;
}
.delete-button:hover{
    opacity: 0.6;
}
.edit-button{
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 18px;
}
.edit-button:hover{
    opacity: 0.6;
}
.copy-button{
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 18px;
}
.copy-button:hover{
    opacity: 0.6;
}

/* EDIT MODE / FORM */
.edit-mode{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
label{
    width: 50%;
    margin: 10px 0px;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
input{
    width: 100%;
    outline: none;
    border: 1px solid #204c73;
    font-family: inherit;
    color: #204c73;
    border-radius: 5px;
}
textarea{
    width: 100%;
    outline: none;
    border: 1px solid #204c73;
    font-family: inherit;
    color: #204c73;
    border-radius: 5px;
}
.save{
    background-color: #204c73;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 10px;
    cursor: pointer;
}
.save:hover{
    opacity: 0.6;
}
.save:active{
    transform: translate(-1px, 2px);
}