.header{
    position: absolute;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height: 100px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-image: linear-gradient(rgb(88, 200, 252), rgb(32, 76, 115));
    color: #ffffff;
}
.nav-bar{
    list-style-type: none;
    display: inline-flex;
    padding-right: 25px;
}


/* LOGO */
.left-side-nav{
    font-size: 40px;
    float: left;
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 25px;
}
.logo{
    height: 90px;
}

/* THE LINKS */
.nav-bar-list{
    padding-left: 20px;
    padding-right: 20px;
}

.nav-bar-link{
    position: relative;
    font-size: 20px;
    display: block;
    width:100%;
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
}
.nav-bar-link:hover{
    opacity: 0.6;
}

.underline{
    border-bottom: 3px solid #ffffff;
    /* box-shadow: 0px 15px 12px -10px rgba(88,200,252,255); */
}



.mobile {
    color: #ffffff;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-right: 25px;
    padding: 5px 10px;
    display: none;
}



/* REACTIVENESS */
@media screen and (max-width: 1215px){
    .nav-bar.active{
        list-style-type: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        margin-top: 474px;
        margin-left: 82%;
        padding: 0;
        width: 18%;
        background-color: white;
        height: 350px;
        z-index: 2;
        border-left: 4px solid #31719c;
        border-bottom: 4px solid #31719c;
    }
    .nav-bar{
        display: none;
    }
    .nav-bar-list{
        padding: 20px 0;
        width: 100%;
    }
    .nav-bar-link{
        text-align: center;
        color: #31719c;
    }
    .mobile{
        display: block;
    }
    .mobile:hover{
        opacity: .5;
    }
}

@media screen and (max-width: 950px){
    .nav-bar-link{
        font-size: 15px;
    }
    .left-side-nav{
        font-size: 25px;
    }
    .logo{
        height: 75px;
    }
}

@media screen and (max-width: 700px){
    .nav-bar.active{
        width: 25%;
        margin-left: 75%;
    }
}